In [1]:
# Import libraries
from sklearn.feature_extraction import text
import pandas as pd

In [2]:
corpus = [
  'Sales have risen in other export markets',
  'Sales increased due to growing market rates and increased operations'
]

In [6]:
# CountVectorizer
vectorizer = text.CountVectorizer()
X = vectorizer.fit_transform(corpus)

X_df = pd.DataFrame(data=X.toarray(), columns=sorted(vectorizer.vocabulary_.keys()))
X_df.head()

,and,due,export,growing,have,in,increased,market,markets,operations,other,rates,risen,sales,to
0,0,0,1,0,1,1,0,0,1,0,1,0,1,1,0
1,1,1,0,1,0,0,2,1,0,1,0,1,0,1,1

In [7]:
# One-hot encoding
vectorizer = text.CountVectorizer(binary=True)
X = vectorizer.fit_transform(corpus)

# Creates a pandas DataFrame
X_df = pd.DataFrame(data=X.toarray(), columns=sorted(vectorizer.vocabulary_.keys()))

# View resulting DataFrame
X_df.head()

,and,due,export,growing,have,in,increased,market,markets,operations,other,rates,risen,sales,to
0,0,0,1,0,1,1,0,0,1,0,1,0,1,1,0
1,1,1,0,1,0,0,1,1,0,1,0,1,0,1,1

In [8]:
# TF-IDF vectorizer
vectorizer = text.TfidfVectorizer()
X = vectorizer.fit_transform(corpus)

# Creates a pandas DataFrame
X_df = pd.DataFrame(data=X.toarray(), columns=sorted(vectorizer.vocabulary_.keys()))

# View resulting DataFrame
X_df.head()

/Users/elena21188/anaconda3/lib/python3.5/site-packages/sklearn/feature_extraction/text.py:1059: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  if hasattr(X, 'dtype') and np.issubdtype(X.dtype, np.float):

,and,due,export,growing,have,in,increased,market,markets,operations,other,rates,risen,sales,to
0,0.000000,0.000000,0.392044,0.000000,0.392044,0.392044,0.000000,0.000000,0.392044,0.000000,0.392044,0.000000,0.392044,0.278943,0.000000
1,0.294804,0.294804,0.000000,0.294804,0.000000,0.000000,0.589608,0.294804,0.000000,0.294804,0.000000,0.294804,0.000000,0.209755,0.294804